.logo {
    /* height:120px;
    background-color:rgb(30,30,30);

    color:white; */
    height: 0px;
    width: 100%;
}

.body {
    background: linear-gradient(45deg, #3fa0eb, #1e7ac0);

}

.index-img {
    /* display: inline-block;
    background-image:url("~/img/vdr-index.jpg");
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-clip: unset;
    background-position: left top; */

    opacity: .4;
}



.auth-input {
    border-width: 2px;
    margin: 10px;
    background-color: rgba(245,245,245);
    border-color:rgba(200,200,200);
    border-radius: 10px;
    color: rgb(3, 1, 1);
    padding-left:50px;
    margin-bottom:10rem;
    margin-top:11px;
    width: 100%;
    height: 50;
}

.header{

    vertical-align: top;
}

.logo-img {
    width: 150;
}

.logo-text {
    font-size: 35rem;
    font-weight:800;
    margin-top:-25;
    vertical-align: center;
    text-align: center;
    color: white;
}

.flexbox{
    height:100%;
    min-height:100%;
}
.auth-text{
    text-align:center;
    font-weight: 400;
    color: white;
    margin-top:10rem;
    font-size: 20rem;
    width: 100%;
    margin-bottom: 15;
}

.auth-or {
    margin-top: 30px;
    font-weight:400;
    font-size: 19rem;
    margin-bottom: 0;
}

.auth-button.small{
    margin-bottom: 0;
    margin-left: 15;
    margin-right: 15;
    margin-top: 0;

}

.auth-button {
    margin-top: 20rem;
    width: 350px;
    border-radius: 100px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: #3099e9;


}

.auth-facebook {
    color: white;
    background-color:rgb(59, 89, 152);
    border-width: 0px;
}

.auth-signup {
    color: #3099e9;
    background-color:white;
    border-width: 5px;
    border-color: rgb(200,200,200);
    border-width: 0px;
}

.auth-hr {
    background-color: white;

}

.fullwidth {
    width: 100%;
}
