<ScrollView>
    <WrapLayout class = "">
        <ns-header [title]="'Change your password'"></ns-header>
        <StackLayout orientation="vertical" width="" height="" backgroundColor="" >
            <Label class="h1 center logo" text="vdr"></Label>
            <WrapLayout   width = "80%" height= "100%">
                <Label text="" height="75px" width="100%"></Label>

                <TextField    [(ngModel)]="oldPassword" hint = "Old Password" secure="true" class = "auth-input" ></TextField>

                <TextField    [(ngModel)]="newPassword" hint = "New Password" secure="true" class = "auth-input"></TextField>

                <TextField    [(ngModel)]="confirmNewPassword" hint = "Confirm New Password" secure="true" class = "auth-input"></TextField>

                <Button      text ="CHANGE PASSWORD" (tap)="submit()" class = "auth-button fullwidth"></Button>
            </WrapLayout>
        </StackLayout>
    </WrapLayout>
</ScrollView>

