.logo {
    /* height:120px;
    background-color:rgb(30,30,30);

    color:white; */
    height: 0px;
    width: 100%;
}

.body {
    height: 100%;
}

.auth-input {
    border-width: 2px;

    background-color: rgba(245,245,245);
    border-color:rgba(200,200,200);
    border-radius: 10px;
    color: rgba(100,100,100);
    width: 100%;
    height: 50;
    margin-bottom:10rem;
    margin-top:11px;
}

.auth-text{
    text-align:center;
    font-weight: 600;
    color: #3099e9;
    margin-top:10rem;
    font-size: 20rem;
    width: 100%;
}

.auth-or {
    margin-top: 30px;
    font-weight:400;
    font-size: 19rem;
}

.auth-button {
    margin-top: 20rem;
    width: 350px;
    border-radius: 100px;
    font-weight: 600;
    background-color: #3099e9;
    color: white;
}

.auth-facebook {
    color: white;
    background-color:rgb(59, 89, 152);
    border-width: 0px;
}

.auth-signup {
    color: #3099e9;
    background-color:white;
    border-width: 5px;
    border-color: rgb(200,200,200);
    border-width: 0px;
}

.auth-hr {
    background-color: white;

}

.fullwidth {
    width: 100%;
}
