<AbsoluteLayout>
    <StackLayout *ngIf="!this.router.url.startsWith('/auth')" class ="header"  orientation="vertical">

        <GridLayout *ngIf="this.router.url.includes('vehicles')" columns = "*" class = "nav-upper" height="60">
            <WrapLayout>
                <Image  class = "logo-img" src="~/img/vdr-icon-trans.png" width = "" ></Image>
            </WrapLayout>
            <TextField row = "0" col = "0" [lineHeight]="1" height="35" [(ngModel)]="registration" (returnPress)="searchRegistration()" class = "registration-search-input fa" hint="  &#xf002; Search Registration   "></TextField>
        </GridLayout>

        <WrapLayout *ngIf="!this.router.url.includes('/vehicles')" height ="60" class = "nav-upper">
            <Image  class = "logo-img"  src="~/img/vdr-icon-trans.png" width = "" ></Image>
            <Label text="{{title}}" class = "title"></Label>
        </WrapLayout>

        <GridLayout height = "55" class = "nav-lower" columns="*,*,*" orientation="horizontal">
            <StackLayout col="0" class = "tab-bar divider-right {{isActive(this.vehiclePath)}}" (tap)="loadPage(this.vehiclePath)">
                    <Label text="&#xf1b9;" class = "fa"></Label>
                    <Label text="Vehicles" class = "text"></Label>
            </StackLayout>

            <StackLayout col="1" class = "tab-bar divider-right {{isActive(this.settingsPath)}}" (tap)="loadPage(this.settingsPath)">
                    <Label text="&#xf013;"  class = "fa"></Label>
                    <Label text="Settings" class = "text"></Label>
            </StackLayout>

            <StackLayout col="3" class = "tab-bar" (tap)="logout()">
                    <Label text="&#xf08b;"  class = "fa"></Label>
                    <Label text="Logout" class = "text"></Label>
            </StackLayout>
        </GridLayout>

    </StackLayout>
    <ns-toast  *ngIf="!this.router.url.startsWith('/auth')" ></ns-toast>
</AbsoluteLayout>
