<AbsoluteLayout width = "100%" height = "100%">
    <ScrollView  width = "100%" height = "100%">
        <WrapLayout class = "body">
            <ns-header></ns-header>
            <StackLayout orientation="vertical" width="" height="" backgroundColor="#3099e9" >
                <Label class="h1 center logo" text="vdr"></Label>

                <!-- <Label class = "hr" width="100%" height="1"></Label> -->

                <GridLayout  columns ="*" rows="70, 40, 50, 65, 65, 70, 50, 50, 70" width = "80%" height= "100%">

                    <Button     row = "0" text ="LOG IN WITH FACEBOOK" (tap) =  "fbOauthLogin()" class = "auth-button fullwidth auth-facebook"></Button>

                    <Label      row = "1" text="or" class = "auth-text auth-or"></Label>

                    <Label      row = "1" col = "0" class = "" width="100%" height="2"></Label>

                    <Label      row = "2" text="Log in with your email address" class = "auth-text"></Label>

                    <TextField  row = "3" [(ngModel)]="email" hint = "Email" class = "auth-input" ></TextField>

                    <TextField  row = "4" [(ngModel)]="password" (returnPress)="submit()" hint = "Password" secure="true" class = "auth-input"></TextField>

                    <Button     row = "5" (tap)="submit()" text ="LOGIN" class = "auth-button"></Button>

                    <Label      row = "6" class = "auth-hr" width="100%" height="2"></Label>

                    <Label      row = "7" text="Don't have an account?" class = "auth-text"></Label>

                    <Button     row = "8" nsRouterLink="/auth/signup" pageTransition="slide" text ="SIGN UP" class = "auth-button fullwidth auth-signup"></Button>
                </GridLayout>
            <!--
                <Label text="Label 2" width="100%" height="" backgroundColor="green"></Label>
                <Label text="Label 3" width="100%" height="" backgroundColor="blue"></Label>
                <Label text="Label 4" width="100%" height="" backgroundColor="yellow"></Label> -->
            </StackLayout>
        </WrapLayout>
    </ScrollView>
<ns-toast></ns-toast>
</AbsoluteLayout>
