<StackLayout>
        <WrapLayout>
            <ns-header [title] = "'About'"></ns-header>
            <StackLayout>
                <Label class = "privacy-divider"></Label>

                <Label class = "privacy-header" text = "ABOUT VEHICLE REMINDERS"></Label>
                <WrapLayout class = "privacy-item-group" orientation="horizontal" width="80%">

                    <Label class = "privacy-item border" text="Some title" width="80%"></Label>



                </WrapLayout>

            </StackLayout>
        </WrapLayout>
    </StackLayout>
    <ns-sidebar></ns-sidebar>
