<StackLayout>
    <WrapLayout>
        <ns-header [title] = "'Contact'"></ns-header>
        <StackLayout>
            <Label class = "privacy-divider"></Label>
            <Label class = "privacy-header" text = "CONTACT US"></Label>
            <WrapLayout class = "privacy-item-group" orientation="horizontal" width="80%">
                <Label class = "privacy-item border" text="If you have any questions or queries get in touch at vehicle.reminders.ie@gmail.com" textWrap="true" width="100%"></Label>
            </WrapLayout>
        </StackLayout>
    </WrapLayout>
</StackLayout>
<ns-sidebar></ns-sidebar>
