<AbsoluteLayout class = "sidebar-container"  #sidebarState [attr.state]="'inactive'">
        <GridLayout columns="300, *"  rows="55, *" (loaded)="registerSidebar(sidebarState)" [@state]="sidebarState.state" width="100%" height="100%">
            <!-- <StackLayout row = "1" col ="0" class = "sidebar-left">
            </StackLayout> -->
            <StackLayout (tap) ="blockEvents()"  row = "1" col ="0" class = "sidebar-left">
                <!-- <Label class="sidebar-button" text="" width="175"></Label> -->
                <StackLayout orientation="horizontal" focus (tap)="loadPage(this.vehiclePath)" class ="button-group first">
                        <Label class="fa sidebar-button icon" text="&#xf1b9;" width="40"></Label>
                        <Label class="fa sidebar-button" text="Vehicles" width="145"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" focus (tap)="loadPage(this.settingsPath)" class ="button-group">
                        <Label class="fa sidebar-button icon" text="&#xf013;" width="40"></Label>
                        <Label class="fa sidebar-button" text="Settings" width="145"></Label>
                </StackLayout>

<!--
                <StackLayout orientation="horizontal" focus (tap)="loadPage(this.privacyPath)" class ="button-group">
                        <Label class="fa sidebar-button icon" text="&#xf023;" width="30"></Label>
                        <Label class="fa sidebar-button" text="Privacy" width="145"></Label>
                </StackLayout> -->


                <StackLayout orientation="horizontal" focus (tap)="loadPage(this.aboutPath)" class ="button-group">
                        <Label class="fa sidebar-button icon" text="&#xf129;" width="40"></Label>
                        <Label class="fa sidebar-button" text="About" width="145"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" focus class ="button-group">
                        <Label class="fa sidebar-button icon" (tap)="logout()"text="&#xf08b;" width="40"></Label>
                        <Label class="fa sidebar-button" (tap)="logout()"text="Logout" width="145"></Label>
            </StackLayout>

            </StackLayout>
            <Label (tap)="toggleSideBar()" row = "1" col ="1" class = "sidebar-right"></Label>
        </GridLayout>
</AbsoluteLayout>
