<ScrollView>
    <WrapLayout class = "body">
        <ns-header [title]="'Set a password'"></ns-header>
        <StackLayout orientation="vertical" width="" height="" backgroundColor="white" >
            <Label class="h1 center logo" text="vdr"></Label>

            <!-- <Label class = "hr" width="100%" height="1"></Label> -->

            <WrapLayout   width = "80%" height= "100%">


                <Label text="" height="75px" width="100%"></Label>

                <TextField    [(ngModel)]="newPassword" hint = "New Password" secure="true" class = "auth-input"></TextField>

                <TextField    [(ngModel)]="confirmNewPassword" hint = "Confirm New Password" secure="true" class = "auth-input"></TextField>

                <Button      text ="SET PASSWORD" (tap)="submit()" class = "auth-button fullwidth"></Button>

                <Label      class = "auth-hr" width="100%" height="2"></Label>




            </WrapLayout>
        <!--
            <Label text="Label 2" width="100%" height="" backgroundColor="green"></Label>
            <Label text="Label 3" width="100%" height="" backgroundColor="blue"></Label>
            <Label text="Label 4" width="100%" height="" backgroundColor="yellow"></Label> -->
        </StackLayout>
    </WrapLayout>
</ScrollView>
